PUBLIC_URL=https://cms.slotcity.ua
CORS_ORIGIN=https://slotcity.ua
ADMIN_EMAIL=admin@slotcity.ua
ADMIN_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_DATABASE=slotcity
DB_USER=
DB_PASSWORD=
REDIS=redis://
STORAGE_S3_BUCKET=slotcity-assets
STORAGE_S3_ENDPOINT=
STORAGE_S3_KEY=
STORAGE_S3_SECRET=
POSTHOG_API_KEY=
POSTHOG_HOST=https://us.i.posthog.com
BRAZE_REST_API_KEY=
BRAZE_ENDPOINT=
