NEXT_PUBLIC_SITE_URL=https://slotcity.ua
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_ENABLE_SESSION_REPLAY=true
DIRECTUS_URL=https://slotcity.ua/cms
EVENTS_API_URL=https://slotcity.ua/events
SENTRY_ENVIRONMENT=production
OTEL_SERVICE_NAME=slotcity-web
STOREFRONT_CONTENT_MODE=directus
