PORT=8055
PUBLIC_URL=http://localhost:8055
SECRET=replace-me
KEY=replace-me
ADMIN_EMAIL=admin@slotcity.local
ADMIN_PASSWORD=replace-me
DB_CLIENT=pg
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=slotcity
DB_USER=slotcity
DB_PASSWORD=slotcity
REDIS=redis://localhost:6379
CORS_ENABLED=true
CORS_ORIGIN=true
STORAGE_LOCATIONS=s3
STORAGE_S3_DRIVER=s3
STORAGE_S3_BUCKET=slotcity-assets
STORAGE_S3_REGION=auto
STORAGE_S3_ENDPOINT=
STORAGE_S3_KEY=
STORAGE_S3_SECRET=
